In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV

In [3]:
imoveis_df = pd.read_csv("https://raw.githubusercontent.com/nubank/diversidados-curso-ds/master/iniciante/LinReg/dataset_imoveis.csv")
print(imoveis_df.shape)
print(imoveis_df.columns)
imoveis_df.head()

(21613, 17)
Index(['id', 'data', 'preco_dolares', 'quartos', 'banheiros', 'area_util_m2',
       'area_total_m2', 'andares', 'orla_mar', 'nota_vista', 'nota_condicao',
       'nota', 'area_porao_m2', 'ano_construcao', 'ano_reforma', 'tem_porao',
       'teve_reforma'],
      dtype='object')

,id,data,preco_dolares,quartos,banheiros,area_util_m2,area_total_m2,andares,orla_mar,nota_vista,nota_condicao,nota,area_porao_m2,ano_construcao,ano_reforma,tem_porao,teve_reforma
0,7129300520,2014-10-13,221900,3,1,109.625587,524.902176,1.0,0,0,3,7,0.000000,1955,0,0,0
1,6414100192,2014-12-09,538000,3,3,238.760813,672.803816,2.0,0,0,3,7,37.161216,1951,1991,1,1
2,5631500400,2015-02-25,180000,2,1,71.535341,929.030400,1.0,0,0,3,6,0.000000,1933,0,0,0
3,2487200875,2014-12-09,604000,4,3,182.089958,464.515200,1.0,0,0,5,7,84.541766,1965,0,1,0
4,1954400510,2015-02-18,510000,3,2,156.077107,750.656563,1.0,0,0,3,8,0.000000,1987,0,0,0

In [6]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state = 42)


print('Hiperparametros padrões')
pprint(rf.get_params())

Hiperparametros padrões
{'bootstrap': True,
 'criterion': 'mse',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 'warn',
 'n_jobs': None,
 'oob_score': False,
 'random_state': 42,
 'verbose': 0,
 'warm_start': False}

In [22]:
# Número de arvores na Random forest
n_estimators = [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]

n_estimators

[200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]

In [21]:
list(np.linspace(start = 200, stop = 2000, num = 10)

array([ 200.,  400.,  600.,  800., 1000., 1200., 1400., 1600., 1800.,
       2000.])

In [ ]:
# Número de arvores na Random forest
n_estimators = [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]


# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

In [18]:
# Número máximo de features que é considerado para em cada ramificação

# Se for int, então considere esse valor como Número máxim.

# Se for float, então max_features é uma fração de n_features int(max_features * n_features).

# Se for “auto” ou “sqrt", então é a raiz quadrada de n_features max_features=sqrt(n_features).

# Se “log2”, então max_features=log2(n_features).

# Se None, então max_features=n_features.

max_features = ["auto", "sqrt", "log2"] + list(np.linspace(start = 1, stop = 10, num = 10)) + list(np.linspace(start = 0.1, stop = 1, num = 10))
max_features

['auto',
 'sqrt',
 'log2',
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 0.1,
 0.2,
 0.30000000000000004,
 0.4,
 0.5,
 0.6,
 0.7000000000000001,
 0.8,
 0.9,
 1.0]

Grid Search

Random Search

Implement Grid Search